@model Patient //even tho not being passed into view by controller

<form method="post" asp-action="Delete">
    <input asp-for="PatientId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div> @*Display validation summary at the top*@
        <div class="mb-3">
            <label asp-for="FirstName"></label>  @*bind user input to NAME variable with tag helpers*@
            <input asp-for="FirstName" disabled class="form-control" /> @*bootstrap class form-control*@
        </div>
        <div class="mb-3">
            <label asp-for=LastName></label>
            <input asp-for="LastName" disabled class="form-control" />

        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Patients" asp-action="Index" class="btn btn-secondary" style="width:150px"> @*Back to List button*@
            Back to List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" /> //get validation on client side (no need to refresh and check server)
    }
}

